body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 251, 245, 1);
}

.navbar {
  background-color: rgb(255, 242, 226) !important;
  font-family: 'Exo 2', sans-serif;
}

/* Navbar Link Hover Color */
.navbar-nav .nav-item a.nav-link:hover,
.navbar-nav .nav-item a.nav-link:focus {
  color: #FF9292;
  
}

/* Navbar Link Active Color */
.navbar-nav .nav-item a.nav-link.active {
  color: #FF9292;
  font-weight: bold;
}

/* Navbar Dropdown Link Color */
.navbar-nav .nav-item.dropdown:hover .nav-link {
  color: #FF9292; /* Change the color of the dropdown link on hover */
}

/* Navbar Dropdown Active Color */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu,
.navbar-nav .nav-item.dropdown.show .dropdown-menu {
  background-color: #FF9292; /* Adjust as needed */
}

a {
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    font-weight: normal;
}

.Accessories-mobile {
  align-items: center;
  text-align: center;
  padding: 50px;
  
}
.hi-m{
  margin-left: 0px;
}
.Accessories {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
}
.hi{
    margin-left: 30px;
}
#a-pic {
    border: 5px rgba(227, 197, 160, 1) solid;
    border-radius: 15%;
}

.text {
  text-align: center;
  margin: 100px;
  font-size: 0px;
}

.book-now-button {
  font-size: 17px;
  padding: 18px 30px;
  width: 170px;
  height: 60px;
  border-radius: 20px;
  background-color: rgb(227, 197, 160);
  border-color: rgb(227, 197, 160);
  color: black;
  font-family: 'Lusitana', serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-now-button:hover {
  color:  white; /* Change text color on hover */
  background-color:  rgb(194, 169, 138);
  border-color: rgb(194, 169, 138);
}

.accessories2-btn .item.text-center {
    position: relative;
}

.accessories2-btn .item.text-center.not-available img {
    filter: brightness(80%); /* Adjust the brightness value as needed */
}


.accessories2-btn .item.text-center .not-available-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust the text color */
    font-size: 45px; /* Adjust the font size */
    font-family: 'Bebas Neue', sans-serif;
}

footer {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
}

footer p{
  font-family: 'Exo 2', sans-serif;
}

.findus {
  align-items: center;
  justify-content: center;
  display: flex;
}
.find{
  flex: 1;
  margin-left: 30px;
}

.contact {
flex: 1;
margin-left: 350px;
}

.find-us-m {
  text-align: center;
}
.contact-us-m {
text-align: center;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-items {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .menu-items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: rgba(255, 242, 226, 1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .menu-items a {
      padding: 10px;
      display: block;
      text-align: center;
    }

    .menu-icon {
      display: block;
    }
}

.whenDesktopGone {
  display: none;
}

/* Show the desktop version on screens wider than 576px */
@media (min-width: 576px) {
  .whenDesktopGone {
      display: block;
  }
}

/* Initially show the mobile version */
.whenMobileGone {
  display: block;
}

/* Hide the mobile version on screens wider than 576px */
@media (min-width: 576px) {
  .whenMobileGone {
      display: none;
  }
}

.not-available {
  position: relative;
}

.not-available img {
  filter: brightness(80%); /* Adjust the brightness value as needed */
}

.not-available .not-available-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the text color */
  font-size: 30px; /* Adjust the font size */
  font-family: 'Bebas Neue', sans-serif;
}

.not-available .book-now-button {
  background-color: #999; /* Adjust the button color */
  border-color: #999;
  pointer-events: none; /* Make the button unclickable */
}

.Accessories.not-available {
  position: relative;
}

.Accessories.not-available img {
  filter: brightness(80%); /* Adjust the brightness value as needed */
}

.Accessories.not-available .not-available-text {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the text color */
  font-size: 30px; /* Adjust the font size */
  font-family: 'Bebas Neue', sans-serif;
}

.Accessories.not-available .book-now-button {
  background-color: #999; /* Adjust the button color */
  border-color: #999;
  pointer-events: none; /* Make the button unclickable */
}

.accessories-container {
  background: linear-gradient(to bottom, #FFFBF5, #FFEDD7);
}
